In [1]:
import os
import json
import pandas as pd
import csv
import sklearn
import sklearn.cluster

In [2]:
"""path = 'data/sample.tsv'
path = 'data/twex.tsv'
nb_fields = 20"""

"path = 'data/sample.tsv'\npath = 'data/twex.tsv'\nnb_fields = 20"

In [3]:
"""ids = ""
with open("data/schema.txt", "r") as schema:
    content = schema.readlines()
    for line in content:
        if(ids == ""):
            ids = ids + (line.split("    ")[1])
        else:
            ids = ids + " " + (line.split("    ")[1])
idsList = list(ids.split(" "))
print(idsList)"""

'ids = ""\nwith open("data/schema.txt", "r") as schema:\n    content = schema.readlines()\n    for line in content:\n        if(ids == ""):\n            ids = ids + (line.split("    ")[1])\n        else:\n            ids = ids + " " + (line.split("    ")[1])\nidsList = list(ids.split(" "))\nprint(idsList)'

In [4]:
'''cleanedPath = "data/output.tsv"
values = []
with open(path) as tsvfile:
    content = tsvfile.readlines()
    with open(path, "w") as outputfile:
        for i in range(len(content)):
            if i%10000 == 0:
                print("line:", i)
            line = content[i]
            if(len(line.split("\t")) == nb_fields):
                values.append(line.split("\t"))
        tsvfile.close()'''

'cleanedPath = "data/output.tsv"\nvalues = []\nwith open(path) as tsvfile:\n    content = tsvfile.readlines()\n    with open(path, "w") as outputfile:\n        for i in range(len(content)):\n            if i%10000 == 0:\n                print("line:", i)\n            line = content[i]\n            if(len(line.split("\t")) == nb_fields):\n                values.append(line.split("\t"))\n        tsvfile.close()'

In [5]:
"""cleanedPath = "data/cleaned.tsv"
with open(path) as infile:
    with open(cleanedPath, "w") as outputfile:
        i=0
        for line in infile:
            i = i+1
            if i%200000 == 0:
                print("line:", i)
            line_array = line.split("\t")
            if(len(line_array) == nb_fields):
                if line_array[4] != "\\N":
                    outputfile.write(line_array[0])
                    outputfile.write("\t")
                    outputfile.write(line_array[2])
                    outputfile.write("\t")
                    outputfile.write(line_array[4])
                    outputfile.write("\t")
                    outputfile.write(line_array[5])
                    outputfile.write("\n")
        outputfile.close()
    infile.close()"""

'cleanedPath = "data/cleaned.tsv"\nwith open(path) as infile:\n    with open(cleanedPath, "w") as outputfile:\n        i=0\n        for line in infile:\n            i = i+1\n            if i%200000 == 0:\n                print("line:", i)\n            line_array = line.split("\t")\n            if(len(line_array) == nb_fields):\n                if line_array[4] != "\\N":\n                    outputfile.write(line_array[0])\n                    outputfile.write("\t")\n                    outputfile.write(line_array[2])\n                    outputfile.write("\t")\n                    outputfile.write(line_array[4])\n                    outputfile.write("\t")\n                    outputfile.write(line_array[5])\n                    outputfile.write("\n")\n        outputfile.close()\n    infile.close()'

In [6]:
data = pd.read_csv("data/cleaned.tsv", sep="\t", header=None, names=['Date', 'Latitude', 'Longitude'])
data.head()

                           Date  Latitude  Longitude
9514097914  2010-02-23 05:55:51   7.43926    46.9489
9514846412  2010-02-23 06:22:40   8.53781    47.3678
9516574359  2010-02-23 07:34:25   6.13396    46.1951
9516952605  2010-02-23 07:51:47   8.81749    47.2288
9517198943  2010-02-23 08:02:57   6.63254    46.5199

In [7]:
data.shape

(12438537, 3)

In [8]:
data01 = data[data['Date'].str.contains("2010-01|2011-01|2012-01|2013-01|2014-01|2015-01|2016-01")].drop(['Date'], axis=1)
data01.head()

                   Latitude  Longitude
20992627776159744   9.45234    47.3597
20994063574499328   8.50139    47.4030
20999004200370176   8.40702    47.4242
20999904390291457   7.47791    47.1382
21004302428405760   8.27334    47.3663

In [9]:
data01.shape

(1255974, 2)

In [10]:
data2011_01 = data[data['Date'].str.contains("2011-01")].drop(['Date'], axis=1)
data2011_01.head()

                   Latitude  Longitude
20992627776159744   9.45234    47.3597
20994063574499328   8.50139    47.4030
20999004200370176   8.40702    47.4242
20999904390291457   7.47791    47.1382
21004302428405760   8.27334    47.3663

In [11]:
data2011_01.shape

(3432, 2)

In [12]:
n_clusters = 2500
kmeans_results = sklearn.cluster.k_means(data01, n_clusters, init='k-means++', precompute_distances='auto', n_init=10, max_iter=300, verbose=False, tol=0.0001, random_state=None, copy_x=True, n_jobs=1, return_n_iter=True)

In [13]:
kmeans_results

(array([[  6.13652199,  45.90790815],
        [  8.48046917,  47.3825423 ],
        [-77.3803    ,  38.9328    ],
        ...,
        [  8.185325  ,  46.72944216],
        [  9.92730669,  45.90113898],
        [  7.57037217,  46.65554348]]),
 array([ 574, 1799, 1749, ...,  603, 2002, 2418], dtype=int32),
 62.60105384019189,
 9)

In [14]:
kmeans_results[0].size

5000