In [3]:
import os
import json
import pandas as pd
import csv

In [4]:
path = 'data/sample.tsv'
nb_fields = 20

In [28]:
ids = ""
with open("data/schema.txt", "r") as schema:
    content = schema.readlines()
    for line in content:
        if(ids == ""):
            ids = ids + (line.split("    ")[1])
        else:
            ids = ids + " " + (line.split("    ")[1])
idsList = list(ids.split(" "))
print(idsList)

['id', 'userId', 'createdAt', 'text', 'longitude', 'latitude', 'placeId', 'inReplyTo', 'source', 'truncated', 'placeLatitude', 'placeLongitude', 'sourceName', 'sourceUrl', 'userName', 'screenName', 'followersCount', 'friendsCount', 'statusesCount', 'userLocation']

In [29]:
cleanedPath = "data/sample_cleaned.tsv"
with open(path) as infile:
    with open(cleanedPath, "w") as outputfile:
        i=0
        for line in infile:
            i = i+1
            if i%200000 == 0:
                print("line:", i)
            line_array = line.split("\t")
            if(len(line_array) == nb_fields):
                if line_array[4] != "\\N":
                    outputfile.write(line_array[0])
                    outputfile.write("\t")
                    outputfile.write(line_array[2])
                    outputfile.write("\t")
                    outputfile.write(line_array[4])
                    outputfile.write("\t")
                    outputfile.write(line_array[5])
                    outputfile.write("\n")
        outputfile.close()
    infile.close()

In [32]:
#data = pd.DataFrame.from_csv(cleanedPath, sep="\t")
data = pd.read_csv(cleanedPath, sep="\t",header=None, names=['Date', 'Latitude', 'Longitude'])

In [33]:
data.head()

                                   Date  Latitude  Longitude
776523058504925185  2016-09-15 20:48:18   6.14414    46.1966
776523388911255552  2016-09-15 20:49:37   8.95092    46.0060
776523419261087744  2016-09-15 20:49:44   6.81899    47.1003
776523645514608641  2016-09-15 20:50:38   8.94542    45.9915
776523844483846144  2016-09-15 20:51:26   5.99278    47.2763

In [34]:
data_without_date = data.drop(['Date'],axis=1)

In [35]:
data_without_date.head()

                    Latitude  Longitude
776523058504925185   6.14414    46.1966
776523388911255552   8.95092    46.0060
776523419261087744   6.81899    47.1003
776523645514608641   8.94542    45.9915
776523844483846144   5.99278    47.2763

In [36]:
#cleanedPathNoDate = "data/sample_no_date_cleaned.tsv"
#data_without_date.to_csv(cleanedPathNoDate)

#### Reload to frame

In [37]:
#dataReloaded = pd.read_csv(cleanedPathNoDate, sep=",", header=0, names=['Latitude', 'Longitude'])
#dataReloaded.head()

In [38]:
#data_without_date.head()

In [39]:
#data_without_date_without_id = data_without_date.drop(['ID'],axis=1)

In [40]:
data_without_date_without_id.head()

   Latitude  Longitude
0   6.14414    46.1966
1   8.95092    46.0060
2   6.81899    47.1003
3   8.94542    45.9915
4   5.99278    47.2763

In [43]:
cleanedPathOnlyLoc = "data/sample_loc_cleaned.tsv"
data_without_date_without_id.to_csv(cleanedPathOnlyLoc,index=False,header=False)

# All data

In [9]:
cleanedPath = "data/cleaned.tsv"
cleanedPathToSpark ="data/cleaned_only_loc.tsv"

In [6]:
data = pd.read_csv(cleanedPath, sep="\t",header=None, names=['Date', 'Latitude', 'Longitude'])

In [7]:
data.head()

                           Date  Latitude  Longitude
9514097914  2010-02-23 05:55:51   7.43926    46.9489
9514846412  2010-02-23 06:22:40   8.53781    47.3678
9516574359  2010-02-23 07:34:25   6.13396    46.1951
9516952605  2010-02-23 07:51:47   8.81749    47.2288
9517198943  2010-02-23 08:02:57   6.63254    46.5199

In [8]:
data_without_date = data.drop(['Date'],axis=1)

In [10]:
data_without_date.to_csv(cleanedPathToSpark,index=False,header=False)

In [12]:
data

                                   Date  Latitude  Longitude
9514097914          2010-02-23 05:55:51   7.43926    46.9489
9514846412          2010-02-23 06:22:40   8.53781    47.3678
9516574359          2010-02-23 07:34:25   6.13396    46.1951
9516952605          2010-02-23 07:51:47   8.81749    47.2288
9517198943          2010-02-23 08:02:57   6.63254    46.5199
9517916537          2010-02-23 08:35:39   8.53010    47.3152
9518014755          2010-02-23 08:40:13   6.63428    46.5191
9519149278          2010-02-23 09:32:09   8.29953    47.4829
9519737890          2010-02-23 09:59:41   6.13870    46.1750
9521202348          2010-02-23 11:04:27   6.63706    46.5203
9521789689          2010-02-23 11:28:27   6.33641    46.4631
9521909000          2010-02-23 11:33:05   6.62811    46.5162
9523488851          2010-02-23 12:30:04   7.59000    47.5550
9525122167          2010-02-23 13:20:45   6.91343    46.4326
9532072004          2010-02-23 16:21:25  10.01500    47.8280
9535390586          2010-02-23 17:47:11   9.16570    47.6463
9536575795          2010-02-23 18:19:03   8.26010    47.4576
9537030723          2010-02-23 18:31:46   8.51865    47.3703
9537277053          2010-02-23 18:38:34   8.54562    47.3958
9537697469          2010-02-23 18:50:13   8.54562    47.3958
9537735052          2010-02-23 18:51:17   8.51748    47.3692
9544665707          2010-02-23 21:58:49   6.62680    46.5072
9547007528          2010-02-23 22:56:23   6.14474    46.1958
9564394826          2010-02-24 06:09:23   7.90625    47.3513
9564875001          2010-02-24 06:26:53   7.44237    46.8958
9566362388          2010-02-24 07:26:32   8.74314    47.2392
9566536362          2010-02-24 07:33:49   8.29933    47.4834
9567368800          2010-02-24 08:10:43   6.37155    46.4742
9571347912          2010-02-24 11:06:29   6.63051    46.5219
9571380455          2010-02-24 11:07:50   6.15053    46.2423
...                                 ...       ...        ...
776817496372416512  2016-09-16 16:18:18   8.40804    45.8163
776817632045662208  2016-09-16 16:18:50   9.54754    45.8195
776817712198742016  2016-09-16 16:19:09   8.40996    45.8159
776817913219153920  2016-09-16 16:19:57   8.30861    47.0497
776817933473513472  2016-09-16 16:20:02   9.28448    46.8366
776817935201529856  2016-09-16 16:20:02   8.30824    47.0457
776817936711442432  2016-09-16 16:20:03   8.04374    47.3928
776817939697831936  2016-09-16 16:20:04   8.40278    47.4046
776817941715255296  2016-09-16 16:20:04   7.44815    46.9480
776817943229374464  2016-09-16 16:20:04   8.58051    47.4527
776818001177739264  2016-09-16 16:20:18   9.08089    45.8132
776818066902683648  2016-09-16 16:20:34   8.53372    47.3820
776818771629445124  2016-09-16 16:23:22   6.15127    46.2101
776819096436379648  2016-09-16 16:24:39   7.85661    46.6858
776819254402355201  2016-09-16 16:25:17   6.15127    46.2101
776819318805843968  2016-09-16 16:25:32   8.30809    47.4729
776819391996399616  2016-09-16 16:25:50   9.35000    46.0167
776819552541876224  2016-09-16 16:26:28   7.23187    47.6220
776819693231476736  2016-09-16 16:27:02   7.85736    46.6866
776819697094459392  2016-09-16 16:27:03   6.44147    46.1991
776820487527788544  2016-09-16 16:30:11   8.31393    47.0497
776820544083750912  2016-09-16 16:30:24   8.54723    47.3623
776820614598451200  2016-09-16 16:30:41   6.88944    46.3408
776820888721252352  2016-09-16 16:31:47   9.74573    47.5018
776820942328606720  2016-09-16 16:31:59   9.87921    45.8590
776821123442958336  2016-09-16 16:32:43   8.83488    45.8106
776821193202667521  2016-09-16 16:32:59   9.87921    45.8590
776821324736061440  2016-09-16 16:33:31   7.53810    46.2830
776821576939540481  2016-09-16 16:34:31   8.31393    47.0497
776821713329946626  2016-09-16 16:35:03   8.31033    47.0509

[12438537 rows x 3 columns]