In [2]:
import os
import json
import pandas as pd
import csv

In [2]:
path = 'data/sample.tsv'
nb_fields = 20

In [3]:
ids = ""
with open("data/schema.txt", "r") as schema:
    content = schema.readlines()
    for line in content:
        if(ids == ""):
            ids = ids + (line.split("    ")[1])
        else:
            ids = ids + " " + (line.split("    ")[1])
idsList = list(ids.split(" "))
print(idsList)

['id', 'userId', 'createdAt', 'text', 'longitude', 'latitude', 'placeId', 'inReplyTo', 'source', 'truncated', 'placeLatitude', 'placeLongitude', 'sourceName', 'sourceUrl', 'userName', 'screenName', 'followersCount', 'friendsCount', 'statusesCount', 'userLocation']

In [6]:
cleanedPath = "data/sample_cleaned.tsv"
with open(path) as infile:
    with open(cleanedPath, "w") as outputfile:
        i=0
        for line in infile:
            i = i+1
            if i%200000 == 0:
                print("line:", i)
            line_array = line.split("\t")
            if(len(line_array) == nb_fields):
                if line_array[4] != "\\N":
                    outputfile.write(line_array[0])
                    outputfile.write("\t")
                    outputfile.write(line_array[2])
                    outputfile.write("\t")
                    outputfile.write(line_array[4])
                    outputfile.write("\t")
                    outputfile.write(line_array[5])
                    outputfile.write("\n")
        outputfile.close()
    infile.close()

In [14]:
#data = pd.DataFrame.from_csv(cleanedPath, sep="\t")
data = pd.read_csv(cleanedPath, sep="\t", header=None, names=['Date', 'Latitude', 'Longitude'])

In [15]:
data.head()

                                   Date  Latitude  Longitude
776523058504925185  2016-09-15 20:48:18   6.14414    46.1966
776523388911255552  2016-09-15 20:49:37   8.95092    46.0060
776523419261087744  2016-09-15 20:49:44   6.81899    47.1003
776523645514608641  2016-09-15 20:50:38   8.94542    45.9915
776523844483846144  2016-09-15 20:51:26   5.99278    47.2763

In [22]:
data_without_date = data.drop(['Date'],axis=1)

In [23]:
data_without_date.head()

                    Latitude  Longitude
776523058504925185   6.14414    46.1966
776523388911255552   8.95092    46.0060
776523419261087744   6.81899    47.1003
776523645514608641   8.94542    45.9915
776523844483846144   5.99278    47.2763

In [4]:
cleanedPathNoDate = "data/sample_no_date_cleaned.tsv"
data_without_date.to_csv(cleanedPathNoDate)

NameError: name 'data_without_date' is not defined

#### Reload to frame

In [3]:
dataReloaded = pd.read_csv(cleanedPathNoDate, sep=",", header=0, names=['Latitude', 'Longitude'])
dataReloaded.head()

NameError: name 'cleanedPathNoDate' is not defined